.wrapper {
    width: 74%;
    height: 460px;
    position: absolute;
    top: 91px;
    left: 138px;
}

.intro {
    position: absolute;
    left: 60px;
    top: 101px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 43px;
    background-color: #fff;
    width: 360px;
    height: 188px;
}

.title {
    width: 342px;
    font-weight: bolder;
    font-size: 50px;
}

.subheadline {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
}

.project {
    background-color: #FDC435;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 70px;
    cursor: pointer;
}

.linkedin {
    border: 2px solid #25282B;
    border-radius: 5px;
    height: 30px;
    width: 70px;
    cursor: pointer;
}

.header {
    position: absolute;
    width: 200px;
    height: 17px;
    left: 756px;
    top: 16px;
}


.navbar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
}

.yellow {
    position: absolute;
    z-index: -1;
    left: 536px;
}

.girl {
    position: absolute;
    z-index: 1;
    left: 536px;
}

a {
    text-decoration: none;
    color: #000;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
